body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #0071c2; */
  background-image: url("./vip2.jpg"); /* Replace 'path/to/your/image.jpg' with the path to your image */
  background-size: cover; /* Adjusts the background image size to cover the entire body */
  background-repeat: no-repeat;
  width: 100vw;
}

.lContainer {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.lInput {
  width: 100%;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 15px;
}

.lButton {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #00c241;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}

.lButton:hover {
  background-color: #00a115;
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
  font-size: 14px;
}

.register-link {
  margin-top: 15px;
  color: #333;
}

.register-link a {
  color: #00c22a;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.lInput {
width: 100%;
height: 40px;
padding: 10px;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 16px;
margin-bottom: 15px;
}

.lButton {
width: 100%;
height: 40px;
padding: 10px;
background-color: #00c213;
color: white;
font-weight: bold;
cursor: pointer;
border: none;
border-radius: 5px;
transition: background-color 0.3s ease;
}

.lButton:disabled {
background-color: #0071c28c;
cursor: not-allowed;
}

.lButton:hover {
background-color: #a10000;
}

.error-message {
color: #ff0000;
margin-top: 10px;
font-size: 14px;
}

.register-link {
margin-top: 15px;
color: #333;
}

.register-link a {
color: #2600ff;
text-decoration: none;
}

.register-link a:hover {
text-decoration: underline;
}

